PORT=5000
MONGO_URI=mongodb+srv://harshadakkwmca_db_user:JBeePyUEIJk5gbC0@cluster0.v6hh2h4.mongodb.net/yogyahar_cms?appName=Cluster0
JWT_SECRET=change-this-to-a-long-random-string-please
ADMIN_USERNAME=admin
ADMIN_PASSWORD_HASH=$2a$10$N8ahIibqJDZ6sCTKsRx/C.DTCD42byXQXrZy4x5cK68aWHm3HQI4q
CLIENT_ORIGIN=http://localhost:5173
GROQ_API_KEY=your_groq_api_key_here